<div class="overlay">
    <div class="subject-wraper">
        <span class="close" (click)="close(false)">X</span>
        <form ngNativeValidate>
            <div>
                Title
                <input required text name='task.title' [(ngModel)]="task.title">
            </div>
            <div>
                Description
                <input text name='task.description' [(ngModel)]="task.description">
            </div>
            <div>
                Status
                <input text name='task.status' [(ngModel)]="task.status">
            </div>
            <button type="submit" (click)="submit(task)">
                Submit
            </button>
        </form>
    </div>
</div>